.cp_hero_item {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    padding: 10px;
    width: 13rem;
    height: 21rem;
    background-color: cornsilk;
    margin: 10px;
    border-radius: 3%;
}

.cp_hero_item img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}